# This is a document for listing the required Python packages for Sentiment Analysis program
# Install using: pip install -r requirements.txt

textblob
vaderSentiment
pandas

# Optional:
google-cloud-language
